* { box-sizing: border-box; }

.splash { margin: 1em; }
.main-schedule-next { display: none; padding-top: 1em; }

@media (min-width: 700px) {
  .section-primary { float: left; width: 50%; }
  .main { height: 100%; }
  .section-secondary { width: 50%; float: right;
    padding-left: 12px; padding-top: 1.6em; }
  .main-schedule-next { display: block; }
}

a { color: #FF9; }
a:hover,a:active { text-decoration: none; }

html, body { height: 100%; }

body {
  margin: 0;
  color: #ccc;
  font-family: "Jura", sans-serif;
  background: black url("/images/bean.jpg") repeat fixed center;
}

div.videowrapper { width: 100%; }

ul.tabs { clear: right; margin-bottom: 0.4em; margin-top: 0.4em; padding-left: 0.5em; }
.tabs__tab a { display: block; color: #ccc; padding-bottom: 0.6em; }
.tabs__tab a:hover { color: #ccc; text-decoration: none; }
tab-sections,div.tab-sections { height: 100%; }

.icon { width: 48px; height: 48px; }
.icon-map-marker { fill: #999; }
a { color: #cc9; }
.main { padding: 1em; }
h1 { margin: 0; font-weight: bold; }
h2.chattitle { }
h3 { color: white; }
p.slug { margin: 0; color: #999; margin-top: -0.4em; margin-bottom: 0.5em; color: #998; }
.listings { border: 2px solid rgba(99,99,99,0.5); padding: 1em;
    background-color: rgba(0,0,0,0.33); }
.listings p { margin-top: 0; font-size: 120%; font-style: italic; }
.listing { clear: both; margin-bottom: 0.5em; }
.listing .top { padding-top: 8px; }
.listing .time { float: left; width: 3em; padding-top: 0.38em; }
.listing .artist { color: white; margin-right: 0.2em; font-size: 150%; }
.listing .meta { font-style: italic; }
.listing .moar { margin-left: 5em; font-size: 80%; }
.messages-outer {
  height: 80%;
  max-height: 18em;
  width: 100%;
  overflow: hidden;
  margin-bottom: 0.3em;
}

.messages {
  max-height: 18em;
  min-height: 18em;
  height: 100%;
  width: 100%;
  overflow: auto;
  padding-right: 20px;
  padding: 0 1em;
  border: 2px solid rgba(99,99,99,0.5);
  background-color: rgba(0,0,0,0.33);
}
div.thechat { height: 100%; }
.messages .stamp { font-size: x-small; float: right; }
.messages .username { color: #999; font-weight: bold; }
div#messages a { color: #999; }
input.form-control { background-color: rgba(99,99,99,0.5); padding: 1%;
    border: none; font-size: 100%; color: #eee; }
input.chat-name { width: 17%; }
input.chat-message { width: 82%; float: right; }
input.chat-submit { visibility: hidden; }
.projekktor { margin-top: 1em; }
.info { height: 1em; float: right; font-size: small; color: #999; }
.info span { font-weight: bold; color: white; }
footer { clear: both; padding: 20px 40px;
    border-top: 2px solid #333;
    background: rgba(0, 0, 0, .50); }
footer .bit { float: left; }
footer .lg { width: 40%; }
footer .lg .bit p { }
footer .sm { width: 30%; }
footer .sm .bit p { margin: 0; }
strong { color: white; }
.clearer { clear: both; line-height: 0; }
